﻿@model List<Hotel.Models.Camera>
@{
    ViewBag.Title = "Index";
}

<h2 class="mb-3">Lista Camera</h2>


<table class="table">
    <thead>
        <tr>

            <th scope="col">Numero Camera</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Tipologia </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camera in Model)
        {
            <tr>
                <th scope="row">@camera.Id</th>
                <td>@camera.Descr</td>
                <td>@camera.Tipologia</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Aggiungi Camere", "Add", "Camere", null, new { @class = "btn btn-primary" })
